{% extends base_template %}
{% load static %}
{% load mathfilters %}



{% block content %}


<div id="content" class="main-content">
    <div class="layout-px-spacing">

        <div class="row layout-top-spacing">
        
            <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                <div class="widget-content widget-content-area br-6">
                    <div class="table-responsive mb-4 mt-4">
                        <table id="default-ordering" class="table table-hover" style="width:100%">
                            <thead>
                                <tr>
                                    <th> نام </th>
                                    <th> مجموعه </th>
                                    <th> نوع </th>
                                    <th> تلفن </th>
                                    <th> اخرین ورود </th>
                                    <th> عمل </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for admin_login in admin_logins %}
                                    {% for admin_info in admin_infos %}
                                        {% if admin_login == admin_info.admin_login %}
                                            <tr>
                                                <td><a href="#" class="a_hover"> {{admin_info.first_name}} {{admin_info.last_name}} </a></td>
                                                <td><a href="" class="a_hover">{{admin_login.brand.en_name}}</a></td>
                                                {% if admin_login.admin_type == 1 %}
                                                    <td> مدیر سایت </td>
                                                {% endif %}
                                                {% if admin_login.admin_type == 2 %}
                                                    <td> مدیر مجموعه </td>
                                                {% endif %}
                                                {% if admin_login.admin_type == 3 %}
                                                    <td> پرسونل مجموعه </td>
                                                {% endif %}
                                                <td> {{admin_login.phonenumber}} </td>
                                                <td> {{admin_login.last_login}} </td>
                                                <td> 
                                                    <ul class="list-unstyled d-flex">
                                                        <li><a href="#" class="primary_hover bs-tooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="ویرایش"><i class="fa-solid fa-pencil fa-fw"></i></a></li>   
                                                        <li><a href="#" class="danger_hover pl-2 bs-tooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="حذف"><i class="fa-solid fa-trash-can fa-fw"></i></a></li>   
                                                    </ul>    
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

{% block meta_title %}
    مدیریت ادمین ها
{% endblock meta_title %}

{% block meta_tag %}

{% endblock meta_tag %}

{% block meta_description %}

{% endblock meta_description %}

{% block links %}
    <link href="{% static 'dashboard/assets/css/custom/hover.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'dashboard/plugins/table/datatable/datatables.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'dashboard/plugins/table/datatable/dt-global_style.css' %}" rel="stylesheet" type="text/css" />
{% endblock links %}

{% block scripts %}

<script src="{% static 'dashboard/plugins/table/datatable/datatables.js'%}"></script>
<script>        
    $('#default-ordering').DataTable( {
        "oLanguage": {
            "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>' },
            "sInfo": "صفحه _PAGE_ از _PAGES_",
            "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
            "sSearchPlaceholder": "جستجو کنید...",
           "sLengthMenu": "نتایج :  _MENU_",
        },
        "order": [[ 3, "desc" ]],
        "stripeClasses": [],
        "lengthMenu": [7, 10, 20, 50],
        "pageLength": 7,
        drawCallback: function () { $('.dataTables_paginate > .pagination').addClass(' pagination-style-13 pagination-bordered mb-5'); }
    } );
</script>

{% endblock scripts %}